
.hero{
    background-image: url('/src/assets/herobg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh; 
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin: 0;
    padding: 0;
}

.hero-wrapper{
    padding-top: 4.5625rem;
    padding-bottom: 9.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin: 0;
}

.hero-h3{
    color: var(--white-color);
    font-family: 'Montserrat', sans-serif;
}

.hero-headings{
    max-width: 62.8125rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-h1{
    font-size: 3.625rem;
    font-weight: bold;
    color: var(--white-color);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.hero-headings h4{
    font-size: 1.5rem;
    font-weight: medium;
    color: var(--hero-h4-color);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.common-button{
    color: var(--white-color);
    padding: 1rem 3.65625rem;
    border-radius: 1.875rem;
    font-size: 1.5rem;
    max-width: 14.625rem;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
}

.appstore{
    background-color: transparent;
    border: 1px solid var(--white-color);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.playstore{
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

@media(max-width: 768px){

    .hero{
        background-image: none;
        background-color: var(--hero-bg-color);
        height: 100%;
    }

    .hero-headings{
        max-width: 30rem;
    }

    .hero-h3{
        font-size: 1rem;
        color: var(--hero-h4-responsive-color);
    }

    .hero-h1{
       font-size: 2.25rem;
       color: var(--seconday-color);
    }

    .hero-headings h4{
        color: var(--hero-h4-responsive-color);
        max-width: 22.625rem;
    }

    .hero-buttons{
        display: flex;
        flex-direction: column;
        gap: 17px;
    }

    .appstore{
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
}

